@import "tailwindcss";


@keyframes revolve {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.animate-revolve {
  animation: revolve 10s linear infinite;
  transform-style: preserve-3d;
}

.perspective-container {
  perspective: 1000px;
}
.icon-3d {
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.3)) 
  drop-shadow(-1px -1px 2px rgba(255,255,255,0.1));
  transform-style: preserve-3d;
}
.icon-3d::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 16px;
          height: 16px;
          background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(0,0,0,0.2));
          border-radius: 2px;
          z-index: -1;
        }  

.menu-bar {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

@media (min-width: 640px) {
  .filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.all-products {
  margin-right: 1rem;
}

.filter-group label,
.sort-group label {
  margin-right: 1rem;
}

.filter-group select,
.sort-group select {
  margin-left: 0.25rem;
  padding: 0.2rem 0.6rem;
}

.sort-group {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

@media (max-width: 800px) {
  .menu-bar {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .menu-bar-item {
    font-size: 0.89rem;
    padding: 0.6rem 0.8rem;
  }
}

@media (max-width: 600px) {
  .filter-bar {
    align-items: flex-start;
  }
  .sort-group {
    margin-top: 0.7rem;
    width: 100%;
    justify-content: flex-start;
  }
}

 @keyframes marquee {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(-50%);
          }
        }
        
        .animate-marquee {
          /* animation: marquee 15s linear infinite;
          display: flex;
          will-change: transform;
          animation-fill-mode: none;
          animation-play-state: running; */
          animation: marquee 27s linear infinite;
          display: flex;
          will-change: transform;
          animation-fill-mode: none;
        }

        html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

